@import "macchiato.css";

* {
    font-family: "FiraCode Nerd Font";
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}
tooltip {
    background: @base;
    border: 1px solid @surface1;
}
tooltip label {
    color: @text;
}


#custom-separator {
    color: @surface2;
    background: @surface0;
}

/* LEFT */
#cpu,
#memory,
#disk,
#taskbar,
#temperature,
#custom-updates {
    padding-left: 10px;
    padding-right: 10px;
    background-color: @surface0;
}
#cpu {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 15px;
    color: @yellow;
}
#temperature {
    color: @red;
}
#memory {
    color: @pink;
}
#disk {
    color: @sapphire;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 15px
}
#custom-updates {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 10px;
    color: @yellow;
}
#custom-updates.ok {
    color: @green;
}
#taskbar {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
}
#taskbar button {
    color: @overlay0;
    box-shadow: inset 0 -3px transparent;
    transition: all 0.25s cubic-bezier(.55,-0.68,.48,1.68);
}

/* MIDDLE */
#workspaces {
    background-color: @surface0;
    border-radius: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}
#workspaces button {
    color: @overlay0;
    box-shadow: inset 0 -3px transparent;
    transition: all 0.25s cubic-bezier(.55,-0.68,.48,1.68);
}
#workspaces button.focused {
    background-color: transparent;
}
#workspace button.hover {
    background-color: transparent;
}
#workspaces button.active {
    color: @blue;
}

/* RIGHT */
#backlight,
#wireplumber,
#battery,
#network,
#bluetooth,
#group-power,
#custom-lock,
#custom-poweroff,
#custom-logout,
#custom-reboot,
#clock {
    background-color: @surface0;
    padding-left: 10px;
    padding-right: 10px;
}
#backlight {
    color: @rosewater;
}
#wireplumber {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 15px;
    color: @mauve;
}
#battery {
    color: @text;
}
#clock {
    color: @subtext0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 15px;
    margin-left: 10px;
}
#network {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: @teal;
    padding-right: 20px;
}
#bluetooth {
    color: @blue;
}

#custom-reboot {
    color: @peach;
}
#custom-logout {
    color: @yellow;
}
#custom-lock {
    color: @mauve;
}

#custom-poweroff {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 20px;
    color: @maroon;
}


#battery.warning:not(.charging) {
    color: @surface0;
    background-color: @yellow;
}

#battery.critical:not(.charging) {
    color: @surface0;
    background-color: @red;
}

#battery.discharging {
    color: @yellow;
}

#battery.charging,
#battery.full,
#battery.plugged {
    color: @green;
}
