@import "macchiato.css";

* {
    font-family: "MesloLGS NF";
    font-weight: bold;
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
    /* border-radius: 5px; */
    /* border: 3px solid @surface0; */
}

window#waybar.hidden {
    opacity: 0.2;
}

/* WORKSPACES */
#workspaces button {
    padding: 0 0px;
    color: @overlay0;
}

#workspaces button.focused {
    background-color: transparent;
}

#workspace button.hover {
    background-color: transparent;
}

#workspaces button.active {
    color: @blue;
}

#workspaces {
    padding: 0px 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#tray,
#idle_inhibitor,
#bluetooth,
#keyboard-state,
#wireplumber,
#window,
#custom-updates {
    padding-left: 10px;
    padding-right: 10px;
    color: @text;
}

#clock {
    padding-right: 20px;
}

#window {
    color: @blue;
}

#keyboard-state {
    padding-left: 20px;
}

#battery.warning:not(.charging) {
    color: @surface0;
    background-color: @yellow;
}

#battery.critical:not(.charging) {
    color: @surface0;
    background-color: @red;
}

#battery.discharging {
    color: @yellow;
}

#battery.charging,
#battery.full,
#battery.plugged {
    color: @green;
    background-color: transparent;
}

#keyboard-state>label.locked {
    color: @mauve;
}
