@import "macchiato.css";

* {
    font-family: "FiraCode Nerd Font";
    /* font-weight: bold; */
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}


/* LEFT */
#cpu,
#memory,
#disk,
#custom-updates {
    padding-left: 10px;
    padding-right: 10px;
    background-color: @surface0;
}
#cpu {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 15px;
    color: @maroon;
}
#memory {
    color: @pink;
}
#disk {
    color: @sapphire;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 15px
}
#custom-updates {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 10px;
    color: @yellow;
}

/* MIDDLE */
#workspaces {
    background-color: @surface0;
    border-radius: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}
#workspaces button {
    color: @overlay0;
    box-shadow: inset 0 -3px transparent;
    transition: all 0.25s cubic-bezier(.55,-0.68,.48,1.68);
}
#workspaces button.focused {
    background-color: transparent;
}
#workspace button.hover {
    background-color: transparent;
}
#workspaces button.active {
    color: @blue;
}

/* RIGHT */
#backlight,
#wireplumber,
#battery,
#clock {
    background-color: @surface0;
    padding-left: 10px;
    padding-right: 10px;
}
#backlight {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 15px;
    color: @rosewater;
}
#wireplumber {
    color: @mauve;
}
#battery {
    color: @text;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 15px;
}
#clock {
    color: @subtext0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 10px;
}


#battery.warning:not(.charging) {
    color: @surface0;
    background-color: @yellow;
}

#battery.critical:not(.charging) {
    color: @surface0;
    background-color: @red;
}

#battery.discharging {
    color: @yellow;
}

#battery.charging,
#battery.full,
#battery.plugged {
    color: @green;
    background-color: transparent;
}
