window {
    background-color: transparent;
    color: #c0caf5;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
    margin: 0px;
    border-radius: 10px;
}

/* Inner bar container, surrounds buttons */
#inner-box {
    background-color: #24283b;
    border-radius: 10px;
    border: 5px solid #1d202f;
    padding: 5px;
    margin: 5px
}

button, image {
    background: none;
    border: none;
    box-shadow: none
}

button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px
}

button:hover {
    background-color: rgba (255, 255, 255, 0.1)
}
